# Use this file as a template for your own .env file
# These values are baked into the build and will be visible in the client-side code.
# The .env file is excluded from git for privacy.

VITE_AUTHOR_NAME="Jere Borgelin"
VITE_AUTHOR_TITLE="Senior Full-stack Web Developer"
VITE_AUTHOR_LOCATION="Turku, Finland"
VITE_EMAIL="jere.borgelin@gmail.com"
VITE_PHONE_NUMBER="+358 40 123 4567"
